html {
  background-color: #f3f3f3;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  font-family: "LXGW WenKai TC", cursive;
}

h1 {
  font-size: 37px;
  margin: 0 87px 0 37px;
}

ruby {
  font-size: 2em;
}

rt {
  font-size: 0.8em;
}

p {
  margin: 17px 0 0 0;
}

span {
  display: block;
  font-size: 27px;
  margin: 0 37px 0 17px;
}

a {
  display: block;
  font-size: 1.3em;
  text-decoration: none;
  padding: 5px 27px;
  color: purple;
}

a:hover {
  
}

a:visited {
  text-decoration: none;
  border-top: 2px solid black;
}

.with-bpmf {
  position: relative;
}

.with-bpmf::before {
  content: "ㄧ";
  position: absolute;
  top: -1.2em;
  left: 0;
  font-size: 0.8em;
  color: #666;
}

p::first-letter {
}
