/* 全局樣式 */
body {
    font-size: 12pt;
    font-family: 'Arial', sans-serif;
    background-color: #f5f7fa;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}
a {
    color: indigo;
    text-decoration: none;
}
/* 標題樣式 */
header .title {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

header .title h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* 主要內容區域樣式 */
main {
    padding: 20px;
}

/* 歷史記錄樣式 */
.history details {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
    padding: 10px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.history summary {
    font-size: 1.5rem;
    cursor: pointer;
    outline: none;
    padding: 5px;
    color: #2c3e50;
}

.history details[open] summary {
    color: #4CAF50;
}

.build {
    font-size: 0.9rem;
    color: mediumseagreen;
}

.fix {
    font-size: 0.9rem;
    color: teal;
}

ul {
    list-style: disc inside;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

.date {
    float: right;
    font-style: italic;
    color: grey;
    text-align: right;
    }

 details { 
    overflow: hidden;
 }

 details[open] summary ~ * {
    animation: expand 1s ease-in-out forwards;
 }

 @keyframes expand {
    from {
    opacity: 0;
    max-height: 0;
 }
    to {
    opacity: 1;
    max-height: 100vh; /* You can adjust this value based on your content */
    }
}

/* 頁腳樣式 */
.footer {
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer span { 
    display: block;
    margin: 0 0 -7px 0;
}   

.footer a {
    color: darkslateblue;
    text-decoration: underline;
}

