/*
@decription: Cascading Style Sheet
@author:Sy
@updatetime:2023-11-02 15:19:54
  https://google.github.io/styleguide/htmlcssguide.html
  https://cloud.tencent.com/developer/article/1835320
  https://blog.csdn.net/weixin_43883485/article/details/103504171
  https://alienzhou.github.io/fe-performance-journey/5-subresources/css.html#_4-%E8%A7%A3%E6%9E%90%E4%B8%8E%E6%B8%B2%E6%9F%93%E6%A0%91%E6%9E%84%E5%BB%BA
BOXBOXBOXBOX
ORDER
- 影响文档流的属性 (display/visibility/float/clear/position)
- 盒模型的属性 (width/height/margin/padding/border/outline)
- 排版属性 (font/line-height/text-align/text-indent/text-decoration/white-space/color)
- 背景装饰属性 (background/opacity/cursor/list-style)
- 生成内容属性 (content/quotes)
- 其它 CSS3 属性，兼容性前缀打包自动添加 (border-radius/box-shadow/transition/transform/animation)  */
body {
  margin: 0 57px;
  background-color: #F4F4F2;
  font-family: 'Noto Serif TC', serif;
  /*font-family: 'Rosarivo', cursive;*/
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'Ubuntu Mono', monospace;*/
}

.title {
  display: block;
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  font: bold 37px "Rosarivo", cursive #495464;
  text-align: center;
  background-color: #F4F4F2;
}

.b-one {/*color design rule: weightful but not like black*/ 
  text-align: center;
  text-shadow: 1px 1px 3px white;
  font-size: 1.7em;
  position: center;
  margin: 63px auto 30px auto;
  padding: .5ex .5em;
  color: #F8F4E1;/*weightful but not like black*/
  background-color: #454545;
}

.b-two {
  margin: 30px auto;
  padding: .5ex .5em;
  font-family: 'Rosarivo', cursive;
  font-size: 1.7em;
  color: #F8F4E1;
  background-color: #454545;/*#4F709C*/;
}

.b-three { 
  text-align: right;
  text-shadow: 1px 1px 3px white;
  font-size: 1.7em;
  margin: 30px 0 0 0;
  padding: .5ex .5em;
  color: #F8F4E1;
  background-color: #454545;/*#BBBFCA;*/
}

.cards {
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.card {
  display: inline-block;
  position: relative;
  width: 500px;
  height: 470px;
  margin: 37px 57px;
  transform-style: preserve-3d;
  transition: all 0.57s;
}

.front,
.back {
  position: absolute;
  width: 500px;
  height: 470px;
  vertical-align: top;
  border-radius: 16px;
  cursor: default; /* just for knowledge, remeber to delete.*/
  overflow: hidden;/* adding the attribute at father positon;*/
  background-color: #cdc9c3;
  transform: translateZ(50px);
}

.front {
  z-index: 1;
}

.back {
  text-align: center;
    /* 让在背面显示的内容转到背面 */
  transform: rotateY(180deg) translateZ(50px);
}

.flipped {
  transform: rotateY(180deg);
}

.image {
  margin: 0 auto;
}

.image img {
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 390px;
  border-radius: 16px 16px 8px 8px;
}


.heading {
  margin: 7px 0 0 0;
  font-variant: small-caps;
  font-size: x-large;
  font-weight: bold;
  font-family: 'Rosarivo', cursive;
  text-align: center;
}

.caption {
  margin: 7px auto;
  font-size: 120%;
  font-family: 'Rosarivo', cursive;
  overflow-wrap: break-word;
}

.details {
  margin: 7px auto;
  overflow-wrap: break-word;
}

a {
  color: #40394A;
  text-decoration: none;
}

/* || BUGFIX: table & float 2023-11-28 by 17moonup
 * FIXED at 2023-11-29 by 17moonup
*/
table {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  text-align: start;
  margin: 17px auto;
  border-collapse: collapse;
}

tr,
th,
td {
  text-align: left;
  padding: 7px 0;
  font-variant: small-caps;
  font-size: 120%;
}

th {
  width: 93%;
}

td {
  padding: 0 900px 0 0;
  }

#rotate-me {
  float: right;
  width: 170px;
  height: 170px;
  margin: 7px 4px 0 0;
}

footer {
  text-shadow: 1px 1px #BB99CD;
  margin: 0 auto;
  text-align: center;
}

a:hover {
  opacity: 0.8;
}
/*
.image:active {
  animation-name: flip;
  animation-duration: 1.5s;
  animation-timing-function: 0.5;
  animation-iteration-count: infinite;
}
*/

/* || TODO: click the image, fill the boxpreview slowly and reset the opacity == 0;
img:hover {
  width: 452px;
  height: 452px;
}

.boxpreview:hover {
  border: 3px solid #DBCBBD;
}

