<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
	<head lang="zh-Hant">
		<title>
			帕尼黑書屋
		</title>
		<meta charset="utf-8">
		<meta name="theme-color" content="black">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../../assets/css/book/book.css">	
	</head>

	<body>
		{{content}}
	</body>

</html>

