<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
	<head lang="zh-Hant">
		<title>	帕尼黑書屋</title>
		<meta charset="utf-8">
		<meta name="theme-color" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=LXGW+WenKai+TC&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../../assets/css/book/book.css">	
	        <meta name="viewport" content="height=device-height, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
	  	<meta name="Author" content="蘇一">
         	<meta name="Description" content="PaniieHeal Book.">
         	<meta property="og:title" content="PaniieHeal TruthStore">
         	<meta property="og:type" content="website">
         	<meta property="og:url" content="https://www.paniieheal.org">
         	<meta property="og:image" content="../../img/touch_icon.png">
         	<meta property="og:locale" conten="zh-Hant">
        	<meta property="og:description" content="Paniieheal Book.">
        	<meta name="twitter:card" content="summary_large_image">
         	<meta name="twitter:site" content="@17moonup"colorDisplay>
         	<link rel="icon" href="../../img/favicon1.ico">
         <!-- Apple mobile devices display: -->
         	<link rel="apple-touch-icon" sizes="114x114" href="../../img/touch_icon.png">
          	<script src="assets/js/main.js" defer></script>
	</head>

	<body>
		<h1>{{ title }}</h1>
		{{content}}
	</body>

</html>

